<form method="POST" class="mt-5" id='form'>
  <div class="form-group">
      <label for="inputTitle">Title</label>
      <input 
        type="text"
        required
        value="<%= book.title %>"
        name="title"
        class="form-control"
        id="inputTitle">
  </div>

  <div class="form-group">
      <label for="inputDesc">Description</label>
      <textarea
        required
        rows="3"
        name="description"
        class="form-control"
        id="inputDesc"
      ><%= book.description %></textarea>
  </div>

  <div class="form-group">
      <label for="inputAuthors">Authors</label>
      <input 
        type="text" 
        required
        value="<%= book.authors %>"
        name="authors"
        class="form-control"
        id="inputAuthors">
  </div>

  <div class="form-group">
      <label for="inputFavorite">Favorite</label>
      <input 
        type="text" 
        required
        value="<%= book.favorite %>"
        name="favorite"
        class="form-control"
        id="inputFavorite">
  </div>

  <div class="form-group">
      <label for="inputFileCover">Book cover</label>
      <input 
        type="text" 
        required
        value="<%= book.fileCover %>"
        name="fileCover"
        class="form-control"
        id="inputFileCover">             
  </div>

  <div class="form-group">
      <label>Book file</label>
      <div class="custom-file">        
          <input 
            type="file" 
            required
            name="fileBook"
            accept="text/plain, application/pdf"
            class="form-control-file"            
            id="inputBookFile">
      </div>
  </div>

  <div class="form-group text-right ">
      <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
<script>
  form.onsubmit = async e => {
    e.preventDefault()
    const res = await fetch(``, {
      method: 'POST',
      body: new FormData(form)
    })

    if([200, 201].includes(res.status)) {
      location.replace('/books')
    }
  }
</script>
