<form method="POST" class="mt-5" id='form'>
  <div class="form-group">
      <label for="inputTitle">Title *</label>
      <input 
        type="text"
        required
        value="<%= book.title %>"
        name="title"
        class="form-control"
        id="inputTitle">
  </div>

  <div class="form-group">
      <label for="inputDesc">Description</label>
      <textarea
        rows="3"
        name="description"
        class="form-control"
        id="inputDesc"
      ><%= book.description %></textarea>
  </div>

  <div class="form-group">
      <label for="inputAuthors">Authors *</label>
      <input 
        type="text" 
        required
        value="<%= book.authors %>"
        name="authors"
        class="form-control"
        id="inputAuthors">
  </div>

  <div class="d-flex align-items-center" style="margin-bottom: 5px;">
      <label style="margin: 0 12px 0 0;" for="inputFavorite">Favorite</label>
      <input 
        type="checkbox"
        name="favorite"
        class="flex-shrink-1"
        id="inputFavorite">
  </div>

  <div class="form-group">
    <label>Book cover</label>
    <label><%= book.isNew ? '' : `(Current: ${book.fileCover})` %></label>
    <div class="custom-file">        
        <input 
          type="file" 
          name="fileCover"
          accept="image/png, image/jpeg"
          class="form-control-file"            
          id="inputFileCover">
    </div>
  </div>

  <div class="form-group">
      <label>Book file <%= book.isNew ? '*' : '' %></label>
      <label><%= book.isNew ? '' : `(Current: ${book.fileBook})` %></label>
      <div class="custom-file">        
          <input 
            type="file" 
            name="fileBook"
            accept="text/plain, application/pdf"
            class="form-control-file"            
            id="inputBookFile">
      </div>
  </div>

  <div class="form-group text-right ">
      <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
<script>

  form.onsubmit = async e => {
    e.preventDefault()
    const res = await fetch(``, {
      method: 'POST',
      body: new FormData(form)
    })

    if([200, 201].includes(res.status)) {
      location.replace('/books')
    }
  }

  const isNew = <%= book.isNew || false %>;
  
  if(isNew && document.getElementById('inputBookFile')) {
    document.getElementById('inputBookFile').required = true
  }

  inputFavorite.checked = <%= !!book.favorite %>;
</script>
