<%- include("../partial/layout-start", {title: title, socket: true}) %>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class='d-flex justify-content-between'>
                    <h5 class="card-title"><%= book.title %></h5>
                    <p class="card-text"><%= book.views %> views</p>
                </div>
                <b class='card-label'>ID</b>
                <p class="card-text"><%= book._id %></p>

                <b class='card-label'>Description</b>
                <p class="card-text"><%= book.description %></p>

                <b class='card-label'>Authors</b>
                <p class="card-text"><%= book.authors %></p>

                <b class='card-label'>Favorite</b>
                <p class="card-text"><%= book.favorite %></p>

                <b class='card-label'>File cover</b>
                <p class="card-text"><%= book.fileCover %></p>

                <b class='card-label'>File name</b>
                <p class="card-text"><%= book.fileName %></p>

                <b class='card-label'>Book file</b>
                <p class="card-text"><%= book.fileBook %></p>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/books/update/<%= book._id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/books/<%= book._id %>/download" method="GET" class="d-inline">
                        <button class="btn btn-sm btn-success">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                    </form>
                    <form action="/books/delete/<%= book._id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include("./chat", {chat: {message: "", _id: book._id, user: displayName}}) %>

<%- include("../partial/layout-end") %>